  <%= form_with model: @post, local: true do |form|%>

    <div class="restaurant_name-label">
      <p class="restaurant-label__label">店名</p>
      <p class="restaurant_name-label__notes">※必ず入力して下さい</p>
    </div>
    <div class="restaurant_name-form">
      <%= form.text_field :restaurant_name, class: "form-control" %><br>
    </div>

    <div class="genre-label">
      <p class="genre-label__label">ジャンル</p>
      <p class="genre-label__notes">※必ず選択して下さい</p>
    </div>
    <div class="genre-form">
      <%= form.text_field :genre, class: "form-control" %><br>
    </div>

    <div class="area-label">
      <p class="area-label__label">エリア</p>
      <p class="area-label__notes">※必ず選択して下さい</p>
    </div>
    <div class="area-form">
      <%= form.text_field :area, class: "form-control" %><br>
    </div>



    <div class="url-label">
      <p class="url-label__label">お店のURL</p>
      <p class="url-label__notes">※食べログやInstagramなどお店の情報がわかるサイトがあれば入力して下さい</p>
    </div>
    <div class="url-form">
      <%= form.text_field :url, class: "form-control" %><br>
    </div>


    <div class="notes-label">
      <p class="notes-label__label">備考欄</p>
    </div>
    <div class="notes-form">
      <%= form.text_area :notes, class: "form-control" %><br>
    </div>


    <div>
      <%= form.submit '投稿する', class: "btn btn-primary" %>
    </div>
  <% end %>


<div >
  トップページへ戻る
</div>

